Absolute Minimum:

2 sets of F
10 sets of MS
10 sets of ME
10 sets of MT
10 sets of SE
10 sets of TE

______________

Goal:

12 sets of F
40 sets of MS
40 sets of ME
40 sets of MT
40 sets of SE
40 sets of TE

Not counting F, comes out to 120 M, 80 S, 80 T, 120 E
There are 4 relevant divisions this can be built for: Synchro, Xyz, Link, Fusion/Pendulum/Misc
Through equal representation, each division should have

10 sets of MS
10 sets of ME
10 sets of MT
10 sets of SE
10 sets of TE
Coming out to 30M, 20S, 20T, 30E

_____________

Post-balancetesting
Traps are difficult to find and match.  Many Extras are simply filler.  Maybe make a monster foundation and an extra foundation set.  Monster foundation will be the first pick and extra foundation will be the last.  Going by this, each draft will look like:

1 set of 5M
5 sets of TE
1 set of 5E

Deck composition of 25M 10S 5T 15E